.grid-container{
    display: grid;
    grid-template-columns: auto  auto  auto;
    background-color: aquamarine;
    height: 400px;
    padding :10px;
   
    align-content: end;
}
.grid-container div{
    background-color:white;
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    font-size:15px;

}